<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fetus Health Detection</title>
</head>

<body>
 <div>
	<h2>Please Enter Below Values For Predicting Fetus Health</h2>
    <form action="{{ url_for('predict')}} "method="post">
	
		<label for="1"><b>Baseline Fetal Heart :</b></label>
		<input type="text" id="1" name="baseline_heath_rate" placeholder="ex: 125" required><br><br>
		
		<label for="2"><b>No. of accelerations per second :</b></label>
		<input type="text" id="2" name="accelerations" placeholder="ex: 0" required><br><br>
		
		<label for="3"><b>No. of fetal movements per second :</b></label>
		<input type="text" id="3" name="fetal_movement" placeholder="ex: 0" required><br><br>
		
		<label for="4"><b>No. of uterine contractions per second :</b></label>
		<input type="text" id="4" name="uterine_contractions" placeholder="ex: 0" required><br><br>
		
		<label for="5"><b>No. of light decelerations per second :</b></label>
		<input type="text" id="5" name="light_decelerations" placeholder="ex: 0" required><br><br>
		
		<label for="6"><b>No. of severe decelerations per second :</b></label>
		<input type="text" id="6" name="severe_decelerations" placeholder="ex: 0" required><br><br>
		
		<label for="7"><b>No. of prolongued decelerations per second :</b></label>
		<input type="text" id="7" name="prolongued_decelerations" placeholder="ex: 0" required><br><br>
		
		<label for="8"><b>Percentage of time with abnormal short term variability</b></label>
		<input type="text" id="8" name="abnormal_short_term_variability" placeholder="ex: 75" required><br><br>
		
		<label for="9"><b>Mean value of short term variability</b></label>
		<input type="text" id="9" name="mean_value_of_short_term_variability" placeholder="ex: 0.5" required><br><br>
		
		<label for="10"><b>Percentage of time with abnormal long term variability</b></label>
		<input type="text" id="10" name="percentage_of_time_with_abnormal_long_term_variability" placeholder="ex: 10" required><br><br>
		
		<label for="11"><b>Mean value of long term variability</b></label>
		<input type="text" id="11" name="mean_value_of_long_term_variability" placeholder="ex: 3.6" required><br><br>
		
		<input type="submit" value="Predict">
    
	</form>

   <br>
   <br>
   
   {{ response }}

 </div>


</body>
</html>